.container {
	display: grid;
	grid-gap: 1rem;
	margin: 0 auto;

	&.fix-width {
		max-width: $fix-width;
	}
}

.one {
	grid-column: auto / span 1;
}

.two {
	grid-column: auto / span 2
}

.three {
	grid-column: auto / span 3
}

.four {
	grid-column: auto / span 4
}

.five {
	grid-column: auto / span 5
}

.six {
	grid-column: auto / span 6
}

.seven {
	grid-column: auto / span 7
}

.eight {
	grid-column: auto / span 8
}

.nine {
	grid-column: auto / span 9
}

.ten {
	grid-column: auto / span 10
}

.eleven {
	grid-column: auto / span 11
}

.twelve {
	grid-column: auto / span 12
}
